body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #444444;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .profile{
    margin: 16px;
    align-items: center;
    justify-content: center;
  }
  
.sidebar-profile {
    margin-top: 8px;
    display: block;
    text-align: start;
}

.sidebar-profile span {
    font-size: small;
    font-weight: 400;
    display: block;
}
.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    margin-left: 200px;
    padding-left: 16px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #b5b4b4;
}

.logout {
    width: 200px;
    height: 50px;
}

.logout a {
    color: #ffffff;    
}

.content{
    padding-top: 100px;
}
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }